*{
  margin: 0;
  padding: 0;
}
html, body{
  height: 100%;
}
// :global doesn't hash the passed in rule so it becomes global
:global(#root){
  height: 100%;
  background-color: #E9F0F3;
}

.app {
  text-align: center;
}

.appHeader {
  background-color: #222;
  padding: 20px;
  color: white;
}

.header{

}
.topicsHeader{

}
.topics{
  display:  flex;
  flex-direction: column;
  max-width: 60%;
  margin: auto;
}